<div class="page-container">
  <a class="btn btn-dark back-button" href="/"> Back to Home </a>

  <div class="main-container">
    <form>
      <div class="row1">
        <h2>Laboratory Test</h2>
        <div class="form-group">
          <label class="mt-3" style="font-weight: bold" for="pName"
            >Patient Name:</label
          >
          <div>
            <input
              type="text"
              name="pName"
              id="pName"
              formControlName="pName"
            />
          </div>
        </div>
        <table class="table table-responsive table-striped">
          <thead>
            <tr>
              <td style="font-weight: bold">Test</td>
              <td style="font-weight: bold">Value</td>
              <td style="font-weight: bold">SI Unit</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>WBC Count</td>
              <td><input type="number" formControlName="wbc" /></td>
              <td>x10^12/L</td>
            </tr>
            <tr>
              <td>RBC Count</td>
              <td><input type="number" formControlName="rbc" /></td>
              <td>x10^12/L</td>
            </tr>
            <tr>
              <td>HGB</td>
              <td><input type="number" formControlName="hgb" /></td>
              <td>%</td>
            </tr>
            <tr>
              <td>HCT</td>
              <td><input type="number" formControlName="hct" /></td>
              <td>g/L</td>
            </tr>
            <tr>
              <td>RDW</td>
              <td><input type="number" formControlName="RDW" /></td>
              <td>%</td>
            </tr>
            <tr>
              <td>MCHC</td>
              <td><input type="number" formControlName="mchC" /></td>
              <td>g/dL</td>
            </tr>
            <tr>
              <td>MCV</td>
              <td><input type="number" formControlName="MCV" /></td>
              <td>fL</td>
            </tr>
            <tr>
              <td>MCH</td>
              <td><input type="number" formControlName="MCH" /></td>
              <td>pg</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row2 form-group">
        <h2>Radiology Test</h2>
        <label for="">Procedure:</label>
        <input type="text" />
        <label for="image" class="form-label">Upload Scan:</label>
        <input
          type="file"
          id="image"
          name="image"
          accept="image/*"
          class="form-control"
        />
        <label for="" class="mt-2">Clinical Impression:</label>
        <textarea type="text" cols="60" rows="3"></textarea>
        <label for="">Radiology Technologist:</label>
        <input type="text" />
        <label for="">Radiologist:</label>
        <input type="text" />
        <label for="">Referring Physician:</label>
        <input type="text" />
        <label for="">Nurse In-charge:</label>
        <input type="text" />
        
      </div>

      <!-- Submit button -->
    </form>
    <button
      type="submit"
      class="btn btn-success"
      style="width: 100%"
      (click)="onSubmit()"
    >
      Submit
    </button>
  </div>
</div>
