<!-- Your Angular component HTML -->
<div class="page-container">
  <div class="main-container">
    <form [formGroup]="myForm" #formDirective="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="me-2" for="">Patient Name:</label>
        <input type="text" id="" formControlName="" />
        <div class="form-group">
          <label for="date">Date:</label>
          <input
            type="date"
            id="date"
            name="date"
            class="form-control"
            required
            style="width: 300px"
          />

          <label for="Time" class="mt-2">Time:</label>
          <input
            type="time"
            class="form-control mb-5"
            style="width: 300px"
            required
          />

          <label class="form-label">Doctor In-charge:</label>
          <input type="text" class="form-control" />

          <label class="form-label">Nurse In-charge:</label>
          <input type="text" class="form-control" />
        </div>
      </div>
      <div class="mb-5">
        <label class="me-2 mt-5">Level of Consciousness:</label>
        <select style="width: 300px">
          <option value="alert">Alert</option>
          <option value="drowsy">Drowsy</option>
          <option value="lethargic">Lethargic</option>
          <option value="stupurous">Stupurous</option>
          <option value="coma">Coma</option>
          <!-- Add more options as needed -->
        </select>
      </div>

      <!-- Add more form fields as needed -->
      <div class="row1">
        <div class="orientation">
          <h2>Orientation</h2>
          <div>
            <label for="" class="me-3"
              ><input type="checkbox" class="me-2" /> Person:
            </label>
            <input type="text" name="" id="" />
          </div>
          <div>
            <label for="" class="me-3"
              ><input type="checkbox" class="me-2" />Place:
            </label>
            <input type="text" name="" id="" />
          </div>
          <div>
            <label for="" class="me-3"
              ><input type="checkbox" class="me-2" />Time:
            </label>
            <input type="text" name="" id="" />
          </div>
          <div>
            <label for="" class="me-3"
              ><input type="checkbox" class="me-2" />Situation:
            </label>
            <input type="text" name="" id="" />
          </div>
        </div>

        <div class="vitals">
          <h2>Vitals</h2>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">Temperature (C): </label>
            <input type="number" name="" id="" />
          </div>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">Respiratory Rate (bpm): </label>
            <input type="number" name="" id="" />
          </div>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">Cardiac Rate (bpm): </label>
            <input type="number" name="" id="" />
          </div>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">Blood Pressure: </label>
            <input type="number" name="" id="" />
          </div>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">O2 Sat (%): </label>
            <input type="number" name="" id="" />
          </div>
        </div>

        <div class="gen-ass">
          <h2>General Assessment</h2>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">Weight (kg): </label>
            <input type="number" name="" id="" />
          </div>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">Height (cm): </label>
            <input type="number" name="" id="" />
          </div>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">BMI: </label>
            <input type="number" name="" id="" />
          </div>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">Allergies: </label>
            <textarea name="" id="" cols="30" rows="5"></textarea>
          </div>
        </div>

        <div class="abdomen">
          <h2>Abdomen</h2>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">Inspection: </label>
            <input type="text" name="" id="" />
          </div>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">Auscultation: </label>
            <input type="text" name="" id="" />
          </div>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">LUQ: </label>
            <select name="" id="">
              <option value="">None</option>
              <option value="">Active</option>
              <option value="">Hyper</option>
              <option value="">Absent</option>
            </select>
          </div>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">RUQ: </label>
            <select name="" id="">
              <option value="">None</option>
              <option value="">Active</option>
              <option value="">Hyper</option>
              <option value="">Absent</option>
            </select>
          </div>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">LLQ: </label>
            <select name="" id="">
              <option value="">None</option>
              <option value="">Active</option>
              <option value="">Hyper</option>
              <option value="">Absent</option>
            </select>
          </div>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">RLQ: </label>
            <select name="" id="">
              <option value="">None</option>
              <option value="">Active</option>
              <option value="">Hyper</option>
              <option value="">Absent</option>
            </select>
          </div>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">Palpation: </label>
            <input type="text" name="" id="" />
          </div>
        </div>

        <div class="upperE">
          <h2>Upper Extremities</h2>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">Radial Pulses: </label>
            <input type="text" name="" id="" />
          </div>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">Temp/Trunk (warm/cool): </label>
            <input type="text" name="" id="" />
          </div>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">Grip equal & strong: </label>
            <input type="text" name="" id="" />
          </div>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">Capillary refill <3s: </label>
            <input type="text" name="" id="" />
          </div>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">Vein filling rapid: </label>
            <input type="text" name="" id="" />
          </div>
        </div>

        <div class="lowerE">
          <h2>Lower Extremities</h2>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">Hair present: </label>
            <input type="text" name="" id="" />
          </div>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">Edema: </label>
            <input type="text" name="" id="" />
          </div>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">Foot Strength: </label>
            <input type="text" name="" id="" />
          </div>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">Homain's Claudication: </label>
            <input type="text" name="" id="" />
          </div>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">Temp vs. Trunk: </label>
            <input type="text" name="" id="" />
          </div>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">Nails: </label>
            <select name="" id="" class="me-3">
              <option value="">None</option>
              <option value="">Yellowed</option>
              <option value="">Thickened</option>
              <option value="">Ingrown</option>
            </select>
            <input type="text" name="" id="" />
          </div>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">Pedal pulse: </label>
            <input type="text" name="" id="" />
          </div>
        </div>
      </div>

      <!-- ///// ROW 2//////////////////////////////// -->
      <div class="row2">
        <div class="head">
          <h2>Head</h2>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">Hair: </label>
            <input type="text" name="" id="" />
          </div>

          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">Eyes: </label>
            <input type="text" name="" id="" />
          </div>

          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">Nose: </label>
            <input type="text" name="" id="" />
          </div>

          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">Mouth: </label>
            <input type="text" name="" id="" />
          </div>
        </div>

        <div class="neck">
          <h2>Neck</h2>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">Carotid Pulse: </label>
            <input type="text" name="" id="" />
          </div>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">JVD: </label>
            <input type="text" name="" id="" />
          </div>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">Trachea Midline: </label>
            <input type="text" name="" id="" />
          </div>
        </div>

        <div class="chest">
          <h2>Chest</h2>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">Trachea Midline: </label>
            <select class="me-3">
              <option value="Muffled">Muffled</option>
              <option value="Arrythmia">Arrythmia</option>
              <option value="None">None</option>
            </select>
            <input type="text" name="" id="" />
          </div>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">Trachea Midline: </label>
            <select class="me-3">
              <option value="Anterior">Anterior</option>
              <option value="Posterior">Posterior</option>
              <option value="Lateral">Lateral</option>
              <option value="None">None</option>
            </select>
            <input type="text" name="" id="" />
          </div>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">Chest Symmetry: </label>
            <input type="text" name="" id="" />
          </div>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">Skin Turgor(Clavicle): </label>
            <input type="text" name="" id="" />
          </div>
        </div>

        <div class="flexrow">
          <div class="rom">
            <h2>ROM</h2>
            <div>
              <input type="checkbox" class="me-2" />
              <label for="" class="me-3">Upper R: </label>
              <input type="text" name="" id="" style="width: 60px" />
            </div>
            <div>
              <input type="checkbox" class="me-2" />
              <label for="" class="me-3">Lower R: </label>
              <input type="text" name="" id="" style="width: 60px" />
            </div>

            <div>
              <input type="checkbox" class="me-2" />
              <label for="" class="me-3">Upper L: </label>
              <input type="text" name="" id="" style="width: 60px" />
            </div>

            <div>
              <input type="checkbox" class="me-2" />
              <label for="" class="me-3">Lower L: </label>
              <input type="text" name="" id="" style="width: 60px" />
            </div>
          </div>

          <div class="str">
            <h2>Strength</h2>
            <div>
              <input type="checkbox" class="me-2" />
              <label for="" class="me-3">Upper R: </label>
              <input type="text" name="" id="" style="width: 60px" />
            </div>
            <div>
              <input type="checkbox" class="me-2" />
              <label for="" class="me-3">Lower R: </label>
              <input type="text" name="" id="" style="width: 60px" />
            </div>

            <div>
              <input type="checkbox" class="me-2" />
              <label for="" class="me-3">Upper L: </label>
              <input type="text" name="" id="" style="width: 60px" />
            </div>

            <div>
              <input type="checkbox" class="me-2" />
              <label for="" class="me-3">Lower L: </label>
              <input type="text" name="" id="" style="width: 60px" />
            </div>
          </div>
        </div>

        <div class="pain">
          <h2>Pain Assessment</h2>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">Acute/Chronic Intensity: </label>
            <select>
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">Location: </label>
            <input type="text" name="" id="" />
          </div>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">Duration: </label>
            <input type="text" name="" id="" />
          </div>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">Characteristics: </label>
            <input type="text" name="" id="" />
          </div>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">Precipitation: </label>
            <input type="text" name="" id="" />
          </div>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">Frequency: </label>
            <input type="text" name="" id="" />
          </div>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">Non-Verbals: </label>
            <input type="text" name="" id="" />
          </div>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">Relief Factors: </label>
            <input type="text" name="" id="" />
          </div>
          <div>
            <input type="checkbox" class="me-2" />
            <label for="" class="me-3">Sleep: </label>
            <input type="text" name="" id="" />
          </div>

          <h2>Skin Assessment</h2>
          <textarea
            name=""
            id=""
            cols="40"
            rows="6"
            placeholder="Place description here"
          ></textarea>
        </div>
      </div>
      <button type="submit" style="width: 100%" class="btn btn-primary">
        Submit
      </button>
    </form>
  </div>
</div>
