<div class="page-container">
  <a class="btn btn-dark back-button" href="/"> Back to Home </a>
  <div class="main-container">
    <form (submit)="onSubmit()" class="my-4">
      <div class="form-group">
        <label for="name">Patient Name:</label>
        <input type="text" />
      </div>

      <div class="form-group">
        <label for="blood">Blood Type:</label>
        <select name="" id="">
          <option value="O+">O+</option>
          <option value="O-">O-</option>
          <option value="A+">A+</option>
          <option value="A-">A-</option>
          <option value="B+">B+</option>
          <option value="B-">B-</option>
          <option value="AB+">AB+</option>
          <option value="AB-">AB-</option>
        </select>
      </div>

      <div class="form-group">
        <h2>IV FLUID PRESCRIPTION (INTAKE)</h2>
        <label for="text">Fluid Type:</label>
        <input type="text" />
        <label for="text" class="mt-2">Volume:</label>
        <input type="text" />
        <label for="text" class="mt-2">Rate:</label>
        <input type="text" />
        <label for="text" class="mt-2">Indication for IV Fluids:</label>
        <input type="text" />
        <label for="text" class="mt-2">Instructions:</label>
        <input type="text" />
      </div>

      <div class="form-group">
        <h2>IV FLUID PRESCRIPTION (OUTPUT)</h2>
        <label for="text">Amount absorbed:</label>
        <input type="text" />
        <label for="text" class="mt-2">Urine:</label>
        <input type="text" />
        <label for="text" class="mt-2">Others:</label>
        <input type="text" placeholder="Please specify.."/>
      </div>

      <button type="submit" class="btn btn-primary submit">Submit</button>
    </form>
  </div>
</div>
