<app-sidebar></app-sidebar>
<div class="home-container">
  

  <div class="transparent-div">
    <div class="home-text">
      <h1>Welcome to Morayta Medical Systems!</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam,
        quod, voluptates, quibusdam!
      </p>
      <a class="btn btn-primary btn-lg " href="/forms">🏥 Registration Form</a>
      <a class="btn btn-warning btn-lg me-4 ms-4" href="/health">💊 Health Assessment Form</a>
      <a class="btn btn-info btn-lg" style="color: white" href="/notes">👨🏻‍⚕️ Doctor's Orders</a>
    </div>
  </div>
</div>
